<ng-container [ngSwitch]="this.enumStateAccess">

  <!--List-->
  <ng-container *ngSwitchCase="'list'">

    <form #frm="ngForm" novalidate class="floatLeftFullDiv">

      <rf-page [idPage]="this.id">

        <ng-template rfTemplate="pageContent">

          <rf-toolbarpage>

            <ng-template rfTemplate="toolBarPageContent">

              <rf-toolbarbrowser [baseController]="this" [renderTableViews]="true">
              </rf-toolbarbrowser>

            </ng-template>

          </rf-toolbarpage>


          <rf-bodypage>

            <ng-template rfTemplate="bodyPageContent">

              <div class="floatLeftFullDiv">

                <rf-card [title]="'rfng.filters' | i18n">

                  <ng-template rfTemplate="cardContent">

                    <rf-inputbutton [disabled]="false" [required]="false" [model]="this.filtersBrowser[0]"
                      [model2]="this.filtersBrowser[0]" [property]="'value_code'" [max]="4"
                      [label]="'rfpm.proyect.title' | i18n" [disabledButton]="false"
                      [componentView]="'ProyectComponent'" [serviceName]="'ProyectService'" [moduleView]="'Masters'"
                      [titleSelect]="'rfpm.proyect.select' | i18n" [name]="'ProyectFilters_code'+this.id"
                      [property2]="'value_description'" [max2]="100">

                    </rf-inputbutton>

                    <rf-inputtext name="{{'titleFilter'+this.id}}" [disabled]="false" [required]="false"
                      [model]="this.filtersBrowser[1]" [property]="'value'" [max]="30" [label]="'rfng.title' | i18n">
                    </rf-inputtext>

                    <rf-inputtext name="{{'descriptioFilter'+this.id}}" [disabled]="false" [required]="false"
                      [model]="this.filtersBrowser[2]" [property]="'value'" [max]="30"
                      [label]="'rfng.description' | i18n">
                    </rf-inputtext>


                  </ng-template>

                </rf-card>

                <rf-card [title]="'rfpm.menu.notes' | i18n">
                  <ng-template rfTemplate="cardContent">

                    <rf-table [columns]="this.columns" [baseControllerLazyLoad]="this" [typeView]="this.tableView">

                      <ng-template rfTemplate="tableGridLine" let-rowData>

                        <div class="WikiGridLine">

                          <div class="WikiGridLineContent">
                            {{'rfpm.proyect.title' | i18n}}: {{rowData['Proyect']['description']}}
                          </div>

                          <div class="WikiGridLineContent">
                            {{'rfpm.columns.notes.userCreate' | i18n}}: {{rowData['UserCreate']['nick']}}
                          </div>

                          <div class="WikiGridLineContent">
                            {{'rfpm.columns.notes.userUpdate' | i18n}}: {{rowData['UserUpdate']['nick']}}
                          </div>

                          <div class="WikiGridLineContent">
                            {{'rfpm.columns.notes.createdAt' | i18n}}: {{rowData['createdAt']}}
                          </div>

                          <div class="WikiGridLineContent">
                            {{'rfpm.columns.notes.updatedAt' | i18n}}: {{rowData['updatedAt']}}
                          </div>

                          <div class="WikiGridLineContent">
                            {{'rfng.title' | i18n}}: {{rowData['title']}}
                          </div>

                          <div class="WikiGridLineContent">
                            {{'rfng.description' | i18n}}: {{rowData['description']}}
                          </div>

                        </div>

                      </ng-template>

                    </rf-table>

                  </ng-template>
                </rf-card>

              </div>

            </ng-template>

          </rf-bodypage>

        </ng-template>

      </rf-page>

    </form>

  </ng-container>

  <!--Read/Edit/Add-->
  <ng-container *ngSwitchDefault>

    <form *ngIf="this.isElementNotNull()" #frm="ngForm" novalidate class="floatLeftFullDiv">

      <rf-page [idPage]="this.id">
        <ng-template rfTemplate="pageContent">

          <rf-toolbarpage>

            <ng-template rfTemplate="toolBarPageContent">

              <rf-toolbarred [baseController]="this" [form]="frm"></rf-toolbarred>

            </ng-template>

          </rf-toolbarpage>

          <rf-bodypage>

            <ng-template rfTemplate="bodyPageContent">

              <div class="floatLeftFullDiv">

                <rf-card [title]="'rfng.general' | i18n">

                  <ng-template rfTemplate="cardContent">

                    <div class="floatLeftFullDivCard">

                      <rf-inputbutton [disabled]="this.isStateRead()" [required]="true" [model]="this.element"
                        [model2]="this.element" [property]="'Proyect_code'" [max]="4"
                        [label]="'rfpm.proyect.title' | i18n" [disabledButton]="this.isStateRead()"
                        [componentView]="'ProyectComponent'" [serviceName]="'ProyectService'" [moduleView]="'Masters'"
                        [titleSelect]="'rfpm.proyect.select' | i18n" [name]="'Proyect_code'+this.id"
                        [property2]="'Proyect_description'" [max2]="100">

                      </rf-inputbutton>

                      <div style="float: left; clear: left;">
                        <rf-inputtext name="{{'userCreate'+this.id}}" [disabled]="true" [required]="true"
                          [model]="this.element" [property]="'UserCreate_nick'" [max]="30"
                          [label]="'rfpm.columns.notes.userCreate' | i18n">
                        </rf-inputtext>

                        <rf-inputtext name="{{'Update'+this.id}}" [disabled]="true" [required]="true"
                          [model]="this.element" [property]="'UserUpdate_nick'" [max]="30"
                          [label]="'rfpm.columns.notes.userUpdate' | i18n">
                        </rf-inputtext>

                        <rf-inputtext name="{{'createdAt'+this.id}}" [disabled]="true" [required]="true"
                          [model]="this.element" [property]="'createdAt'" [max]="20"
                          [label]="'rfpm.columns.notes.createdAt' | i18n">
                        </rf-inputtext>

                        <rf-inputtext name="{{'updatedAt'+this.id}}" [disabled]="true" [required]="true"
                          [model]="this.element" [property]="'updatedAt'" [max]="20"
                          [label]="'rfpm.columns.notes.updatedAt' | i18n">
                        </rf-inputtext>
                      </div>

                      <div style="float: left; clear: left;">

                        <rf-inputtextarea name="{{'title'+this.id}}" [disabled]="this.isStateRead()" [required]="true"
                          [model]="this.element" [property]="'title'" [cols]="200" [rows]="5"
                          [label]="'rfng.title' | i18n">

                        </rf-inputtextarea>

                        <rf-inputtextarea name="{{'description'+this.id}}" [disabled]="this.isStateRead()"
                          [required]="true" [model]="this.element" [property]="'description'" [cols]="200" [rows]="25"
                          [label]="'rfng.description' | i18n">

                        </rf-inputtextarea>
                      </div>

                    </div>

                  </ng-template>

                </rf-card>

              </div>

            </ng-template>

          </rf-bodypage>

        </ng-template>

      </rf-page>

    </form>

  </ng-container>

</ng-container>
