<rf-app [fnPostLogin]="this.functionPostLogin">

  <ng-template rfTemplate="headerLeft" let-appContext="appContext">
    <div class="RfpmTitle">
      {{"RFPM"}}
    </div>
  </ng-template>

  <ng-template rfTemplate="headerBody" let-appContext="appContext">
    <div class="RfpmUser">
      {{'rfng.user' | i18n}}: <a (click)="this.clickUser()">{{this.appService.getNickUser()}}</a>
    </div>
  </ng-template>

  <ng-template rfTemplate="menuContent" let-appContext="appContext">

    <ng-container *ngIf="this.appService.isAdmin()">

      <rf-menuitem label="{{'rfpm.menu.security' | i18n}}">

        <ng-template rfTemplate="menuItemContent">
          <rf-menuitem label="{{'rfpm.menu.users' | i18n}}" [level]="1" componentView="UserComponent" module="Security">
          </rf-menuitem>
        </ng-template>

      </rf-menuitem>

    </ng-container>

    <rf-menuitem label="{{'rfpm.menu.masters' | i18n}}">

      <ng-template rfTemplate="menuItemContent">

        <rf-menuitem label="{{'rfpm.menu.notes' | i18n}}" [level]="1" componentView="NoteComponent" module="Masters">
        </rf-menuitem>

        <ng-container *ngIf="this.appService.isAdmin()">
          <rf-menuitem label="{{'rfpm.menu.proyects' | i18n}}" [level]="1" componentView="ProyectComponent"
            module="Masters">
          </rf-menuitem>
        </ng-container>

        <rf-menuitem label="{{'rfpm.menu.wiki' | i18n}}" [level]="1" componentView="WikiComponent" module="Masters">
        </rf-menuitem>

        <ng-container *ngIf="this.appService.isAdmin()">
          <rf-menuitem label="{{'rfpm.menu.tags' | i18n}}" [level]="1" componentView="TagComponent" module="Masters">
          </rf-menuitem>
        </ng-container>

      </ng-template>

    </rf-menuitem>

  </ng-template>

</rf-app>
