<rf-page [idPage]="this.id">

  <ng-template rfTemplate="pageContent">

    <rf-toolbarpage>

      <ng-template rfTemplate="toolBarPageContent">

        <rf-toolbarbrowser [baseController]="this" [renderAdd]="false" [renderApplyFilters]="false"
          [renderResetFilters]="false">
        </rf-toolbarbrowser>

      </ng-template>

    </rf-toolbarpage>


    <rf-bodypage>

      <ng-template rfTemplate="bodyPageContent">

        <div class="floatLeftFullDiv">

          <rf-card [title]="'rfpm.roles' | i18n">
            <ng-template rfTemplate="cardContent">

              <rf-table [columns]="this.columns" [baseControllerLazyLoad]="this" [renderDelete]="false"
                [renderEdit]="false" [renderRead]="false">

              </rf-table>

            </ng-template>
          </rf-card>

        </div>

      </ng-template>

    </rf-bodypage>

  </ng-template>

</rf-page>
